<template>
  <v-layout
    column
  >
    <v-flex
      md8
      sm12
      xs8
    >
      <v-row>
        <v-col cols="12" md="6" offset-md="3" sm="12">
          <v-card>
            <v-card-title>
              ABOUT THIS DATA
            </v-card-title>
            <v-card-text class="about-card-text">

              <p>This information platform was developed at IMENA TECHLAB LTD to enable anyone to monitor COVID-19
                through
                data. It focus on Rwanda and Africa’s response to this Global pandemic.
                This is a work in progress, and we will continue to update the portal with new data sets from different
                levels with focus on Africa and Rwanda in particular.
              </p>
              <p>
                IMENA TECHLAB LTD is a Rwandan registered company, established primarily aiming at offering unique
                lasting
                technology solutions to both Rwandan and regional markets, since then we have invested in high quality
                digital technology, a highly competent and professional team which in return enabled us to work on high
                profile projects.
              </p>
              <div class="data-div">
                <strong>Data source: WHO and Rwanda MOH</strong>
              </div>
              <div class="data-div">
                <h3> IMENA TECHLAB LTD</h3>
              </div>
              <div class="data-div">
                <b>Our Office:</b> Promisse house, Kimironko, Kigali, Rwanda
              </div>
              <div class="data-div">
                <v-row class="row">
                  <v-col cols="12" md="6" sm="12">
                    <b>Email:</b> info@imenalab.rw
                  </v-col>
                  <v-col cols="12" md="6" sm="12">
                    <a href="http://imenalab.rw/" style="float:right;" target="_blank">www.imenalab.rw</a>
                  </v-col>
                </v-row>
              </div>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-flex>
  </v-layout>
</template>

<script>
    export default {
        name: "about",
        created() {
            this.$root.$emit("loading", false);
            this.$root.$emit("about", true)
        }
    }
</script>

<style scoped>
  .about-card-text {
    letter-spacing: 0.5px;
  }

  .data-div {
    margin-top: 10px;
  }
</style>
